
<div class="row">
    <div class="container-fluid pt-15 content-01" style="background:#ffcba8;">
        <div class="row  mgb-10">
            <div class="col-md-9 col-xs-9 pt-10">
                <div class="col-md-12" style="background:#FFF; border-top: solid 3px #CCC;border-left: solid 3px #CCC; border-radius: 30px; padding-bottom:15px;">
                    <h2 class="title-01">GÀ BÓ XÔI - 89 Nguyễn khang</h2>
                        <p>
                            1. Chất lượng gà: Gà ta trang trại sạch 100%. Thịt gà ngon, đậm vị, ngọt thịt, dai mềm từng thớ thịt.
                        </p>
                        <p>
                            2. Nguyên liệu xôi: xôi nếp nương vị thơm ngon, xôi dẻo bọc bên ngoài được chiên vàng giòn.
                        </p>
                        <p>
                            3. Gà thành phẩm: gà nướng lu, than hoa có lớp da giòn, đặc biệt bên trong vẫn giữ được vị ngọt của gà.
                        </p>
                        <p>
                            4. Rau củ quả muối xổi: các loại rau củ hòa quyện thành món củ quả muối xổi ăn vô cùng đưa miệng.
                        </p>
                        <p>
                            5. Kho quẹt chấm xôi: công thức độc quyền từ bếp trưởng, siêu ngon, ngậy, khi chấm sẽ tạo nên hương vị khác biệt.
                        </p>
                </div>
            </div>
            <div class="col-md-3 col-xs-3 pt-10">
                <div class="form-group text-center">
                    <img src="~/_themes/fontend/images/product/gakhongloithoat3.png" class="img-responsive" />
                </div>
                <div class="form-group text-center">
                    <img src="~/_themes/fontend/images/product/gakhongloithoat2.png" class="img-responsive" />
                </div>
                <div class="form-group text-center">
                    <img src="~/_themes/fontend/images/product/gakhongloithoat1.png" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid content-02 mt-15  mb-15 pb-15 pt-15" style="border: solid 3px #CCC; border-radius:20px">
    <div class="row">
        <div class="col-md-3 pb-15 text-center">
            <img src="~/_themes/fontend/images/product/logogaque.png" class="img-responsive" />
        </div>
        <div class="col-md-8">
            <h3>NHÀ HÀNG 89 NGUYỄN KHANG</h3>
            <p>
                Luông cố gắng để đem lại những trải nghiệm ẩm thực tuyệt vời nhất cho thực khách
            </p>
        </div>
    </div>
    <div class="form-group">
        <p>
            <img src="~/_themes/fontend/images/product/icon-ok-32.png" /> Đội ngũ bếp lành nghề và có nhiều kinh nghiệm
        </p>
        <p>
            <img src="~/_themes/fontend/images/product/icon-ok-32.png" /> Không gian quán rộng rãi lên tới 200 m2
        </p>
        <p><img src="~/_themes/fontend/images/product/icon-ok-32.png" /> Đảm bảo không gian thoải mái từ bàn lẻ tới đặt tiệc lớn</p>
        <p><img src="~/_themes/fontend/images/product/icon-ok-32.png" /> Đồ ăn chỉ được chế biến khi được đặt, đảm bảo nóng sốt phục vụ thực khách</p>
    </div>
</div>
<div class="container-fluid mt-15 mb-15 pb-15 pt-15 contact-01" style="border: dotted 3px #a60000;background: #fba2a2;">
    <img src="/_themes/fontend/images/product/icon-mui-ten-do.gif" style="height:60px">LIÊN HỆ NGAY : 0911 35 55 99
</div>
<div class="container-fluid mt-15 mb-15 pb-15 pt-15 contact-01" style="border: dotted 3px #4cff00;">
    <h2>CÁC MÓN MẸT</h2>
    <p>SỰ LỰA CHỌN TUYỆT VỜI CHO CÁC BỮA NHẬU ĐÔNG NGƯỜI</p>
    <p>CÙNG NÂNG LY HÒ RÔ CẠN LY CÙNG VỚI CÁC MẸT GÀ NÓNG HỔI</p>
</div>
<div class="container-fluid product-01 mt-15 mb-15 pb-15 pt-30" style="background:#ffb28d; border-top:solid 4px #a60000;">
    <div class="row">
        <div class="col-md-4 col-xs-4 item">
            <div class="form-group">
                <div class="item-img form-group">
                    <img src="~/_themes/fontend/images/product/metga5mon.png" class="img-responsive" />
                </div>
                <div class="item-title" style="padding-top:10px">MẸT GÀ 5 MÓN</div>
                <div class="item-price">335k</div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 item">
            <div class="form-group">
                <div class="item-img form-group">
                    <img src="~/_themes/fontend/images/product/metgakhongloithoat.png" class="img-responsive" />
                </div>
                <div class="item-title" style="padding-top:10px">MẸT GÀ KHÔNG LỐI THOÁT</div>
                <div class="item-price">260k</div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 item">
            <div class="form-group">
                <div class="item-img form-group">
                    <img src="~/_themes/fontend/images/product/metga7mon.png" class="img-responsive" />
                </div>
                <div class="item-title" style="padding-top:10px">MẸT GÀ 7 MÓN</div>
                <div class="item-price">499k</div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 item">
            <div class="form-group">
                <div class="item-img form-group">
                    <img src="~/_themes/fontend/images/product/metgadongcao.png" class="img-responsive" />
                </div>
                <div class="item-title" style="padding-top:10px">MẸT GÀ ĐÔNG CẢO</div>
                <div class="item-price">699k</div>
            </div>
        </div>
        <div class="col-md-4  col-xs-4 item">
            <div class="form-group">
                <div class="item-img form-group">
                    <img src="~/_themes/fontend/images/product/metgaquaylu.png" class="img-responsive" />
                </div>
                <div class="item-title" style="padding-top:10px">MẸT GÀ QUAY LU</div>
                <div class="item-price">350k</div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 item">
            <div class="form-group">
                <div class="item-img form-group">
                    <img src="~/_themes/fontend/images/product/metgarangmuoi.png" class="img-responsive" />
                </div>
                <div class="item-title" style="padding-top:10px">MẸT GÀ RANG MUỐI</div>
                <div class="item-price">350k</div>
            </div>
        </div>

    </div>

</div>
<div class="container-fluid mt-15 mb-15 pb-15 pt-15 contact-01" style="border: dotted 3px #4cff00;">
    <h2>CÁC MÓN ĂN KÈM</h2>
    <p>
        CÀNG NHIỀU LỰA CHỌN KHÁC NHAU THÌ
        TRẢI NGHIỆM ẨM THỰC CỦA KHÁCH HÀNG SẼ CÀNG THÚ VỊ
    </p>
</div>
<div class="container-fluid product-02 mt-15 mb-15 pb-15 pt-30" style="background:#ffb28d; border-top:solid 4px #a60000;">
    <div class="row">
        <div class="col-md-4 col-xs-4 item">
            <div class="form-group">
                <div class="item-img form-group">
                    <img src="~/_themes/fontend/images/product/khoaichien.png" class="img-responsive" />
                </div>
                <div class="item-title">KHOAI LANG CHIÊN</div>
                <div class="item-price">35k</div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 item">
            <div class="form-group">
                <div class="item-img form-group">
                    <img src="~/_themes/fontend/images/product/ngochien.png" class="img-responsive" />
                </div>
                <div class="item-title">NGÔ CHIÊN</div>
                <div class="item-price">35k</div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 item">
            <div class="form-group">
                <div class="item-img form-group">
                    <img src="~/_themes/fontend/images/product/nomchangarutxuong.png" class="img-responsive" />
                </div>
                <div class="item-title">NỘM CHÂN GÀ RÚT XƯƠNG</div>
                <div class="item-price">100k</div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 item">
            <div class="form-group">
                <div class="item-img form-group">
                    <img src="~/_themes/fontend/images/product/longmexaotrungnon.png" class="img-responsive" />
                </div>
                <div class="item-title">LÒNG MỀ XÀO TRỨNG NON</div>
                <div class="item-price">150k</div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 item">
            <div class="form-group">
                <div class="item-img form-group">
                    <img src="~/_themes/fontend/images/product/xoichim.png" class="img-responsive" />
                </div>
                <div class="item-title">XÔI CHIM</div>
                <div class="item-price">150k</div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 item">
            <div class="form-group">
                <div class="item-img form-group">
                    <img src="~/_themes/fontend/images/product/changarangmuoi.png" class="img-responsive" />
                </div>
                <div class="item-title">Chân gà rang muối</div>
                <div class="item-price">105k</div>
            </div>
        </div>

    </div>

</div>
<div class="container-fluid mt-15 mb-15 pb-15 pt-15 contact-01" style="border: dotted 3px #4cff00;">
    <h2>SÉT LẨU GÀ</h2>
    <p>
        NGUYÊN LIỆU TƯƠI MỚI, NƯỚC DÙNG ĐẬM ĐÀ ĐÚNG CHẤT.
        HOÀN HẢO CHO NHỮNG NGÀY LẠNH GIÁ
    </p>
</div>
<div class="container-fluid product-03 mt-15 mb-15 pb-15 pt-30">
    <div class="row">
        <div class="col-md-6 item">
            <div class="form-group">
                <div class="item-img form-group">
                    <img src="~/_themes/fontend/images/product/setlauganam.png" class="img-responsive" />
                </div>
                <div class="item-title">SÉT <br /> &nbsp; LẨU GÀ NẤM</div>
                <div class="item-summary">
                    <p><img src="/_themes/fontend/images/product/icon-ok-32.png"> Nước lẩu không phụ gia</p>
                    <p><img src="/_themes/fontend/images/product/icon-ok-32.png"> Gà ta</p>
                    <p><img src="/_themes/fontend/images/product/icon-ok-32.png"> Rau lẩu</p>
                    <p><img src="/_themes/fontend/images/product/icon-ok-32.png"> Đậu phụ</p>
                    <p><img src="/_themes/fontend/images/product/icon-ok-32.png"> Mỳ miến ăn kèm</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
                <div class="item-price">350k</div>
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="form-group">
                <div class="item-img form-group">
                    <img src="~/_themes/fontend/images/product/setlaucuaga.png" class="img-responsive" />
                </div>
                <div class="item-title" style="padding-top:10px">SÉT <br /> &nbsp; LẨU CUA GÀ</div>
                <div class="item-summary">
                    <p><img src="/_themes/fontend/images/product/icon-ok-32.png"> Nước lẩu không phụ gia</p>
                    <p><img src="/_themes/fontend/images/product/icon-ok-32.png"> Gà ta</p>
                    <p><img src="/_themes/fontend/images/product/icon-ok-32.png"> Cua</p>
                    <p><img src="/_themes/fontend/images/product/icon-ok-32.png"> Rau lẩu</p>
                    <p><img src="/_themes/fontend/images/product/icon-ok-32.png"> Đậu phụ</p>
                    <p><img src="/_themes/fontend/images/product/icon-ok-32.png"> Mỳ miến ăn kèm</p>
                    <p>&nbsp;</p>
                </div>
                <div class="item-price">550k</div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <hr />
        </div>
    </div>

</div>