<!-- Services -->
<!-- Button trigger modal -->
<section class="skills mgb-15">
    <div data-product="true" data-index="1">
        <img class="img-responsive" src="~/_themes/fontend/images/product/_0024_met-ga-5-mon.png" alt="Mẹt gà 5 món !" data-imgshow="true" data-price="335000" />
        <div class="content" style="display:none;">
            <p class="info">
                <b class="">- Chi tiết sản phẩm:</b><br />
                <span>&nbsp;<i class="fas fa-star"></i> Gà hấp</span> <br />
                <span>&nbsp;<i class="fas fa-star"></i> Gà rang muối</span> <br />
                <span>&nbsp;<i class="fas fa-star"></i> Nộm chân gà rút xương</span> <br />
                <span>&nbsp;<i class="fas fa-star"></i> Rau củ quả</span> <br />
                <span>&nbsp;<i class="fas fa-star"></i> Xôi vàng</span>
            </p>
            <p class="pack">
                <b class="">- Đóng gói:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Nguyên mẹt như hình ảnh</span><br />
            </p>
            <p class="ship">
                <b class="">- Thời gian chế biến và ship:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 20 phút</span><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
            </p>
        </div>
    </div>
    @*<div class="d-none d-xl-block">
            <img class="services-cube" src="/_themes/fontend/images/index-data/hero/big-cube.png" alt="Mẹt gà 5 món !">
        </div>*@

</section>
<!-- Skills -->
<section class="skills mgb-15">
    <div class="" data-aos="fade-right" data-aos-delay="400">
        <img src="/_themes/fontend/images/product/_0023_ga-khong-loi-thoat.png" class="img-responsive" alt="Gà không lối thoát !" data-imgshow="true" data-price="260000" />
        <div class="content" style="display:none;">
            <p class="info">
                <b class="">- Chi tiết sản phẩm:</b><br />
                <span>&nbsp;<i class="fas fa-star"></i> Gà ta nướng: trọng lượng từ 1,2-> 1,3 kg</span> <br />
                <span>&nbsp;<i class="fas fa-star"></i> Xôi nếp nương: 1 kg</span> <br />
                <span>&nbsp;<i class="fas fa-star"></i> Kho quẹt handmade</span> <br />
                <span>&nbsp;<i class="fas fa-star"></i> Củ quả muối xổi ( theo mùa)</span> <br />
                <span>&nbsp;<i class="fas fa-star"></i> Gia vị chanh, ớt ( đi kèm)</span> <br />
            </p>
            <p class="pack">
                <b class="">- Đóng gói:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Đựng trong túi giấy chuyên dụng</span><br />
            </p>
            <p class="ship">
                <b class="">- Thời gian chế biến và ship:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 10 phút</span><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
            </p>
        </div>
    </div>
</section>

<section class="skills mgb-15">
    <div class="" data-aos="" data-aos-delay="400">
        <img src="/_themes/fontend/images/product/_0022_met-ga-7-mon.png" alt="Mẹt gà 7 món !" class="img-responsive" data-imgshow="true" data-price="499000" />
        <div class="content" style="display:none;">
            <p class="info">
                <b class="">- Chi tiết sản phẩm:</b><br />
                <span>&nbsp;<i class="fas fa-star"></i> Nem gà (hoặc) chân gà chiên mắm</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Gà quay</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Gà hấp lá chanh</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Lòng mề xào giá mướp</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Gà rang muối</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Nộm chân gà rút xương (hoặc) nộm gà xé phay</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Xôi trắng (hoặc) xôi chim câu</span><br />
            </p>
            <p class="pack">
                <b class="">- Đóng gói:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Đựng trong túi giấy chuyên dụng</span><br />
            </p>
            <p class="ship">
                <b class="">- Thời gian chế biến và ship:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 20 phút</span><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
            </p>
        </div>
    </div>

</section>
<section class="skills mgb-15">
    <div class="" data-aos="" data-aos-delay="400">
        <img src="/_themes/fontend/images/product/_0021_met-ga-dong-cao.png" alt="Mẹt gà đông cảo !" class="img-responsive" data-imgshow="true" data-price="699000" />
        <div class="content" style="display:none;">
            <p class="info">
                <b class="">- Chi tiết sản phẩm:</b><br />
                <span>&nbsp;<i class="fas fa-star"></i> Nem gà (hoặc) chân gà chiên mắm</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Gà quay</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Gà hấp lá chanh</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Lòng mề xào giá mướp</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Gà rang muối</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Nộm chân gà rút xương (hoặc) nộm gà xé phay</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Xôi trắng (hoặc) xôi chim câu</span><br />
            </p>
            <p class="pack">
                <b class="">- Đóng gói:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Nguyên mẹt như hình ảnh</span><br />
            </p>
            <p class="ship">
                <b class="">- Thời gian chế biến và ship:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 20 phút</span><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
            </p>
        </div>
    </div>
</section>

<section class="skills">
    <div class="mgb-15" data-aos="" data-aos-delay="400">
        <img src="/_themes/fontend/images/product/_0018_ga-quay-lu.png" alt="Mẹt gà quay lu !" class="img-responsive" data-imgshow="true" data-price="350000" />
        <div class="content" style="display:none;">
            <p class="info">
                <b class="">- Chi tiết sản phẩm:</b><br />
                <span>&nbsp;<i class="fas fa-star"></i> Gà quay</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Xôi chim câu</span><br />
            </p>
            <p class="pack">
                <b class="">- Đóng gói:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Nguyên mẹt như hình ảnh</span><br />
            </p>
            <p class="ship">
                <b class="">- Thời gian chế biến và ship:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 15 phút</span><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mgb-15" data-aos="" data-aos-delay="400">
            <img src="/_themes/fontend/images/product/_0019_ga-hap-muoi.png" alt="Gà hấp muối !" class="img-responsive" data-imgshow="true" data-price="250000" />
            <div class="content" style="display:none;">
                <p class="info">
                    <b class="">- Chi tiết sản phẩm:</b><br />
                    <span>&nbsp;<i class="fas fa-star"></i> Gà ta hấp muối</span><br />
                </p>
                <p class="pack">
                    <b class="">- Đóng gói:</b><br />
                    <span>&nbsp;<i class="fas fa-check-circle"></i> Sản phẩm được đựng trong giữ nhiệt có lót giấy bạc để giữ được độ nóng, ngon</span><br />
                </p>
                <p class="ship">
                    <b class="">- Thời gian chế biến và ship:</b><br />
                    <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 15 phút</span><br />
                    <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
                </p>
            </div>
        </div>
        <div class="col-md-6 mgb-15" data-aos="" data-aos-delay="500">
            <img src="/_themes/fontend/images/product/_0020_chim-cau-quay.png" alt="Chim câu quay !" class="img-responsive" data-imgshow="true" data-price="150000" />
            <div class="content" style="display:none;">
                <p class="info">
                    <b class="">- Chi tiết sản phẩm:</b><br />
                    <span>&nbsp;<i class="fas fa-star"></i> Chim cút quay</span><br />
                </p>
                <p class="pack">
                    <b class="">- Đóng gói:</b><br />
                    <span>&nbsp;<i class="fas fa-check-circle"></i> Sản phẩm được đựng trong giữ nhiệt có lót giấy bạc để giữ được độ nóng, ngon</span><br />
                </p>
                <p class="ship">
                    <b class="">- Thời gian chế biến và ship:</b><br />
                    <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 10 phút</span><br />
                    <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="skills">
    <div class="mgb-15">
        <img src="/_themes/fontend/images/product/_0015_xoi-chim-bo-cau.png" class="img-responsive" alt="Xôi chim bồ câu !" data-imgshow="true" data-price="150000" />
        <div class="content" style="display:none;">
            <p class="info">
                <b class="">- Chi tiết sản phẩm:</b><br />
                <span>&nbsp;<i class="fas fa-star"></i> Chim bồ câu (1 con)</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Xôi trắng</span><br />
            </p>
            <p class="pack">
                <b class="">- Đóng gói:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Sản phẩm được đựng trong giữ nhiệt có lót giấy bạc để giữ được độ nóng, ngon</span><br />
            </p>
            <p class="ship">
                <b class="">- Thời gian chế biến và ship:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 10 phút</span><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
            </p>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6 mgb-15" data-aos="fade-right" data-aos-delay="400">
                <img src="~/_themes/fontend/images/product/_0016_khoai-chien.png" alt="Khoai chiên !" class="img-responsive" data-imgshow="true" data-price="45000" />
                <div class="content" style="display:none;">
                    <p class="info">
                        <b class="">- Chi tiết sản phẩm:</b><br />
                        <span>&nbsp;<i class="fas fa-star"></i> Khoai lang</span><br />
                        <span>&nbsp;<i class="fas fa-star"></i> Khoai tây</span><br />
                    </p>
                    <p class="pack">
                        <b class="">- Đóng gói:</b><br />
                        <span>&nbsp;<i class="fas fa-check-circle"></i> Sản phẩm được đựng trong giữ nhiệt có lót giấy bạc để giữ được độ nóng, ngon</span><br />
                    </p>
                    <p class="ship">
                        <b class="">- Thời gian chế biến và ship:</b><br />
                        <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 10 phút</span><br />
                        <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
                    </p>
                </div>
            </div>
            <div class="col-md-6 mgb-15" data-aos="" data-aos-delay="500">
                <img src="~/_themes/fontend/images/product/_0017_ngo-chien.png" alt="Ngô chiên !" class="img-responsive" data-imgshow="true" data-price="45000" />
                <div class="content" style="display:none;">
                    <p class="info">
                        <b class="">- Chi tiết sản phẩm:</b><br />
                        <span>&nbsp;<i class="fas fa-star"></i> Ngô ngọt</span><br />
                    </p>
                    <p class="pack">
                        <b class="">- Đóng gói:</b><br />
                        <span>&nbsp;<i class="fas fa-check-circle"></i> Sản phẩm được đựng trong giữ nhiệt có lót giấy bạc để giữ được độ nóng, ngon</span><br />
                    </p>
                    <p class="ship">
                        <b class="">- Thời gian chế biến và ship:</b><br />
                        <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 10 phút</span><br />
                        <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="hero" class="hero-style-3" data-product="true" data-index="1">
    <div class="row">
        <div class="col-md-6 mgb-15">
            <img src="~/_themes/fontend/images/product/_0009_ga-rang-muoi.png" alt="Gà rang muối !" class="img-responsive" data-imgshow="true" data-price="350000" />
            <div class="content" style="display:none;">
                <p class="info">
                    <b class="">- Chi tiết sản phẩm:</b><br />
                    <span>&nbsp;<i class="fas fa-star"></i> Gà ta rang muối nguyên con</span><br />
                </p>
                <p class="pack">
                    <b class="">- Đóng gói:</b><br />
                    <span>&nbsp;<i class="fas fa-check-circle"></i> Sản phẩm được đựng trong giữ nhiệt có lót giấy bạc để giữ được độ nóng, ngon</span><br />
                </p>
                <p class="ship">
                    <b class="">- Thời gian chế biến và ship:</b><br />
                    <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 15 phút</span><br />
                    <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="  mgb-15">
                <img src="~/_themes/fontend/images/product/_0010_nom-chan-ga-rut-xuong.png" alt="Nộm chân gà rút xương !" class="img-responsive" data-imgshow="true" data-price="100000" />
                <div class="content" style="display:none;">
                    <p class="info">
                        <b class="">- Chi tiết sản phẩm:</b><br />
                        <span>&nbsp;<i class="fas fa-star"></i> Rau củ</span><br />
                        <span>&nbsp;<i class="fas fa-star"></i> Chân gà rút xương</span><br />
                    </p>
                    <p class="pack">
                        <b class="">- Đóng gói:</b><br />
                        <span>&nbsp;<i class="fas fa-check-circle"></i> Sản phẩm được đựng trong giữ nhiệt có lót giấy bạc để giữ được độ nóng, ngon</span><br />
                    </p>
                    <p class="ship">
                        <b class="">- Thời gian chế biến và ship:</b><br />
                        <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 10 phút</span><br />
                        <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
                    </p>
                </div>
            </div>
            <div class="  mgb-15">
                <img src="~/_themes/fontend/images/product/_0011_chan-ga-rang-muoi.png" alt="Chân gà rang muối !" class="img-responsive" data-imgshow="true" data-price="105000" />
                <div class="content" style="display:none;">
                    <p class="info">
                        <b class="">- Chi tiết sản phẩm:</b><br />
                        <span>&nbsp;<i class="fas fa-star"></i> Chân gà chiên</span><br />
                    </p>
                    <p class="pack">
                        <b class="">- Đóng gói:</b><br />
                        <span>&nbsp;<i class="fas fa-check-circle"></i> Sản phẩm được đựng trong giữ nhiệt có lót giấy bạc để giữ được độ nóng, ngon</span><br />
                    </p>
                    <p class="ship">
                        <b class="">- Thời gian chế biến và ship:</b><br />
                        <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 10 phút</span><br />
                        <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="hero" class="hero-style-3 mgb-15" data-product="true" data-index="1">
    <div class="">
        <img src="~/_themes/fontend/images/product/_0012_trang-trung-non-xao.png" class="img-responsive" alt="Tràng trứng non xào !" data-imgshow="true" data-price="150000" />
        <div class="content" style="display:none;">
            <p class="info">
                <b class="">- Chi tiết sản phẩm:</b><br />
                <span>&nbsp;<i class="fas fa-star"></i> Tràng trứng lòng mề gà</span><br />
            </p>
            <p class="pack">
                <b class="">- Đóng gói:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Sản phẩm được đựng trong giữ nhiệt có lót giấy bạc để giữ được độ nóng, ngon</span><br />
            </p>
            <p class="ship">
                <b class="">- Thời gian chế biến và ship:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 10 phút</span><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
            </p>
        </div>
    </div>
</section>

<section class="skills mgb-15">
    <div class="" data-aos="" data-aos-delay="400">
        <img src="~/_themes/fontend/images/product/_0013_lau-ga-nam.png" alt="Lẩu gà nấm !" class="img-responsive" data-imgshow="true" data-price="350000" />
        <div class="content" style="display:none;">
            <p class="info">
                <b class="">- Chi tiết sản phẩm:</b><br />
                <span>&nbsp;<i class="fas fa-star"></i> Nước lẩu không phụ gia</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Gà ta</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Rau lẩu</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Đậu phụ</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Mỳ miến ăn kèm</span><br />

            </p>
            <p class="pack">
                <b class="">- Đóng gói:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Sản phẩm được đựng trong giữ nhiệt có lót giấy bạc để giữ được độ nóng, ngon</span><br />
            </p>
            <p class="ship">
                <b class="">- Thời gian chế biến và ship:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 15 phút</span><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
            </p>
        </div>
    </div>
</section>
<section class="skills mgb-15">
    <div class="" data-aos="fade-right" data-aos-delay="500">
        <img src="~/_themes/fontend/images/product/_0014_lau-cua-ga.png" alt="Lẩu cua gà !" class="img-responsive" data-imgshow="true" data-price="550000" />
        <div class="content" style="display:none;">
            <p class="info">
                <b class="">- Chi tiết sản phẩm:</b><br />
                <span>&nbsp;<i class="fas fa-star"></i> Nước lẩu không phụ gia</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Gà ta</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Cua</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Rau lẩu</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Đậu phụ</span><br />
                <span>&nbsp;<i class="fas fa-star"></i> Mỳ miến ăn kèm</span><br />
            </p>
            <p class="pack">
                <b class="">- Đóng gói:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Sản phẩm được đựng trong giữ nhiệt có lót giấy bạc để giữ được độ nóng, ngon</span><br />
            </p>
            <p class="ship">
                <b class="">- Thời gian chế biến và ship:</b><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian chế biến: 15 phút</span><br />
                <span>&nbsp;<i class="fas fa-check-circle"></i> Thời gian ship: tùy khu vực nội thành Hà Nội </span>
            </p>
        </div>
    </div>
</section>
