################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FoodLanding/.vs/FoodLanding
/.vs
/FoodLanding/FoodLanding/bin
/FoodLanding/FoodLanding/obj/Debug
/FoodLanding/FoodLanding/obj/Release
